<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>新增會員</h1>
    <h2><%= errorMessage %></h2>

    <form method="POST" action="/add">
        <div>姓名:<input type="text" name="admin_full_name" placeholder="請輸入管理員名稱"/></div>
        <div>帳號:<input type="text" name="admin_name" placeholder="請輸入帳號"/></div>    
        <div>密碼:<input type="password" name="admin_password" placeholder="請輸入密碼"/></div>
        <div>信箱:<input type="text" name="admin_email" placeholder="請輸入信箱"/></div>
        <div>權限:<select name="admin_permission_level">
            <option value="" disabled selected>請選擇權限</option>
            <option value="Super">Super</option>
            <option value="Basic">Basic</option>
        </select></div>
        <div>狀態:
            <input type="radio" name="admin_disabled" value="1" id="enabled">
            <label for="enabled">啟用</label>
        
            <input type="radio" name="admin_disabled" value="0" id="disabled">
            <label for="disabled">未啟用</label>
        </div>
        <input type="submit" />
    </form>
</body>
</html>