<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
    <style>
        .textarea{
            max-height: 10em; /* 設置最大高度，超過部分將顯示滾動條 */
            resize: none; /* 禁用手動調整大小 */
        }
    </style>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <% if(admin_name) { %>  
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>新增研討會、工作坊活動資訊</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <form method="POST" action="/eventAdd" data-bitwarden-watching="1">    
                    <div class="form-group list">
                        <label class="form-label">名稱：</label>
                        <input name="event_title" type="text" class="form-control" placeholder="請輸入活動名稱" required="required">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">日期：</label>
                        <input name="event_date" type="date" class="form-control" placeholder="請輸入活動日期" required="required">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">地點：</label>
                        <input name="event_location" type="text" class="form-control" placeholder="請輸入活動地點" required="required">
                    </div>
    
                    <div class="form-group list">
                        <label class="form-label">主辦：</label>
                        <input name="event_organizer" type="text" class="form-control" placeholder="請輸入主辦單位" required="required">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">簡介：</label>
                        <textarea name="event_description" class="form-control textarea" rows="10" placeholder="請輸入活動簡介"></textarea>
                    </div>

                    <div class="form-group list">
                        <label class="form-label">網址：</label>
                        <input name="event_website" type="text" class="form-control" placeholder="請輸入活動網址">
                    </div>
                    
                    <div class="form-group list">
                        <label class="form-label">狀態：</label>
                        <select class="form-select" name="event_publish">
                            <option value="" disabled selected>請選擇狀態</option>
                            <option value="publish">上架</option>
                            <option value="unpublish">下架</option>
                        </select>
                    </div>
                    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success" />
                        <button type="button" class="btn btn-warning" id="clearButton">清空</button>
                        <a class="btn btn-secondary" href="/eventList">返回</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <% } else { %>
            <div class="loginContainer">
                <p class="loginText">歡迎使用中日同形詞管理系統</p>
                <p class="loginText">請系統管理員登入系統</p>  
            </div>
        <% } %>
    </div>
    

    <script>
        //清空欄位
        $(document).ready(function(){
            $('#clearButton').click(function(){
                $('form').find(':input').not(':button, :submit, :reset, :hidden').val('').prop('checked', false);
            })
        })

        // //把資料存進 localStorage
        // $(document).ready(function(){
        //     const formData = JSON.parse(localStorage.getItem('formData')) || {};
        //     //把儲存的資料填進表單，但要排除密碼
        //     for(const key in formData){
        //         if(formData.hasOwnProperty(key) && key !== 'user_password'){
        //             if(key === 'user_gender'){
        //                 $(`[name="${key}"][value="${formData[key]}"]`).prop('checked', true);
        //             }else{
        //                 $(`[name="${key}"]`).val(formData[key]);
        //             }                    
        //         }
        //     }
        //     //把 input 資料存進 localStorage，但要排除密碼
        //     $('form :input').on('input', function(){
        //         if(this.name !== 'user_password'){
        //             // if(this.name === 'user_gender'){
        //             //     formData[this.name] = $('input[name="admin_disabled"]:checked').val();
        //             // }else{
        //             //     formData[this.name] = $(this).val();
        //             // }
        //             localStorage.setItem('formData', JSON.stringify(formData));
        //         } 
        //     });

        //     //按提交表單或取消返回上頁時，清空 localStorage
        //     $('form').submit(function(){
        //         //檢查是否有錯誤訊息
        //         if (errorMessages.length === 0 || !hasErrors(errorMessages)) {
        //         // 如果沒有錯誤訊息、實際錯誤，清空 localStorage
        //         localStorage.removeItem('formData');
        //         }               
        //     })
        //     $('#clearButton').click(function(){
        //         localStorage.removeItem('formData');
        //     })
        // })

        // // 檢查否存在實際錯誤
        // function hasErrors(errorMessages) {
        //     return errorMessages.filter(function() {
        //         return $(this).text().trim().length > 0;
        //     }).length > 0;
        // }
    </script>
</body>
</html>