<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %>
    <%- include('../../css/addUpdateStyle') %>
</head>
<body>
    <%- include('../template/navbar') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>新增商品</h2>
                <% if(errorMessage && errorMessage.length > 0){ %>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= errorMessage %></strong>
                </div>
                <% } %>
    
                <form method="POST" action="/productAdd" enctype="multipart/form-data" accept-charset="UTF-8" data-bitwarden-watching="1">  
                    
                    <div class="form-group list">
                        <label class="form-label">編號：</label>
                        <input name="product_number" type="text" class="form-control" placeholder="請輸入商品編號">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">名稱：</label>
                        <input name="product_title" type="text" class="form-control" placeholder="請輸入商品名稱">
                    </div>

                    <div class="form-group list">
                        <label for="formFile" class="form-label">上傳：</label>
                        <input class="form-control" type="file" id="product_path" name="product_path">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">定價：</label>
                        <input name="product_price" type="text" class="form-control" placeholder="請輸入商品定價">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">特價：</label>
                        <input name="product_discount" type="text" class="form-control" placeholder="請輸入商品特價">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">簡介：</label>
                        <input name="product_description" type="text" class="form-control" placeholder="請輸入商品簡介">
                    </div>
                    
                    <div class="form-group list">
                        <label class="form-label">分類：</label>
                        <input name="product_category" type="text" class="form-control" placeholder="請輸入商品分類">
                    </div>

                    <div class="form-group list">
                        <label class="form-label">庫存：</label>
                        <input name="product_stock" type="text" class="form-control" placeholder="請輸入商品庫存">
                    </div>
                    
                    <div class="form-group list">
                        <label class="form-label">狀態：</label>
                        <select class="form-select" name="product_publish">
                            <option value="" disabled selected>請選擇狀態</option>
                            <option value="publish">上架</option>
                            <option value="unpublish">下架</option>
                        </select>
                    </div>
                    
                    <div class="form-group list mt-4">
                        <input type="submit" class="btn btn-success" />
                        <button type="button" class="btn btn-warning" id="clearButton">清空</button>
                        <a class="btn btn-secondary" href="/productList">返回</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    

    <script>
        //清空欄位
        $(document).ready(function(){
            $('#clearButton').click(function(){
                $('form').find(':input').not(':button, :submit, :reset, :hidden').val('').prop('checked', false);
            })
        })


        // //把資料存進 localStorage
        // $(document).ready(function(){
        //     const formData = JSON.parse(localStorage.getItem('formData')) || {};
        //     //把儲存的資料填進表單，但要排除密碼
        //     for(const key in formData){
        //         if(formData.hasOwnProperty(key) && key !== 'user_password'){
        //             if(key === 'user_gender'){
        //                 $(`[name="${key}"][value="${formData[key]}"]`).prop('checked', true);
        //             }else{
        //                 $(`[name="${key}"]`).val(formData[key]);
        //             }                    
        //         }
        //     }
        //     //把 input 資料存進 localStorage，但要排除密碼
        //     $('form :input').on('input', function(){
        //         if(this.name !== 'user_password'){
        //             // if(this.name === 'user_gender'){
        //             //     formData[this.name] = $('input[name="admin_disabled"]:checked').val();
        //             // }else{
        //             //     formData[this.name] = $(this).val();
        //             // }
        //             localStorage.setItem('formData', JSON.stringify(formData));
        //         } 
        //     });

        //     //按提交表單或取消返回上頁時，清空 localStorage
        //     $('form').submit(function(){
        //         //檢查是否有錯誤訊息
        //         if (errorMessages.length === 0 || !hasErrors(errorMessages)) {
        //         // 如果沒有錯誤訊息、實際錯誤，清空 localStorage
        //         localStorage.removeItem('formData');
        //         }               
        //     })
        //     $('#clearButton').click(function(){
        //         localStorage.removeItem('formData');
        //     })
        // })

        // // 檢查否存在實際錯誤
        // function hasErrors(errorMessages) {
        //     return errorMessages.filter(function() {
        //         return $(this).text().trim().length > 0;
        //     }).length > 0;
        // }
    </script>
</body>
</html>